/*********VARIABLES**********/
:root {
    /***font sizes***/    
    --font-s: 1.3vmax;
    --font-m: 2vmax;
    --font-l: 3vmax;
    --font-xl: 4vmax;

    /***Colors***/   
    --main-color: #613dff;
    --html: #E34F26;
    --css: #1572B6;
    --javascript: #F7DF1E;
    --java: #3a75b0;
    --python: #fee362;
    --node: #339933;
    --react: #61DAFB;
}
.font-s{font-size: var(--font-s);}
.font-m{font-size: var(--font-m);}
.font-l{font-size: var(--font-l);}
.font-xl{font-size: var(--font-xl);}



/*********GENERAL**********/
* {
    font-family: Roboto, sans-serif;

    animation-duration: 0.5s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
}

body {
    margin: 0;
}

.align {
    margin-inline: 8vw;
}

.container {
    height: 90vh;
}

.title {
    padding-block: 1vh;
    text-align: center;
    font-size: 1.2vmax;
}

/*********HEADER**********/
.header {
    background-color: var(--main-color);
    color: #FFF;
    width: 100%;
    height: 10vh;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center  ;
    z-index: 9;
}

.header-content {
    color: #efeded;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-self: center;
    font-size: 1.2vmax;
    width: 70vw;
}

.header-buttons button {
    background-color: inherit;
    color: inherit;
    border: none;
    margin-inline: 1vmax;
    font-size: 1.5vmax;
}
.header-buttons button:hover {
    cursor: pointer;
}
.header-buttons button:visited {
    border-bottom: #FFF solid 3px;
}

.extra{
    width: 4vw;
    display: flex;
}
.space{
    width: 4vw;
}

.language {
    margin: 10px;
    height: 5vh;
    align-self: center;
    background-color: #332183;
    border: none;
    font-size: 1.2vmax;
    color: white;
    border-radius: 10px;
}
.language:hover {
    cursor: pointer;
}

/*********HOME**********/
#home {
    background-color: var(--main-color);
    color: #FFF;
}

.home-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 5vmax;
}


/*********ABOUT**********/
.about-main {
    display: flex;
}

.about-main div {
    width: 50%;
    padding: 1vmax;
    line-height: 1.6;
    font-size: 1.5vmax;
}

.about-main-art {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 30vmax;
    }
}

.about-main-text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-icons {
    display: flex;
    justify-content: space-evenly;
}

.about-icon {
    font-size: 3vmax;
    transition: 0.1s;
}
.about-icon:hover {
    cursor: pointer;
    color: var(--main-color);
}


/*********SKILLS**********/
.skills-main{
    display: flex;
    justify-content: space-between;
}

.skills-info {
    width: 45%;
}

.icons {
    font-size: 6vmax;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(10vmax, 1fr));
    width: 45%;
}
.icons div {
    padding: 1vmax;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .2s;
}
.html{color: var(--html);}
.html:hover {background-color: var(--html); color: #FFF;}
.css{color: var(--css);}
.css:hover{background-color: var(--css); color: #FFF;}
.javascript{color: var(--javascript);}
.javascript:hover{background-color: var(--javascript); color: #FFF;}
.node{color: var(--node);}
.node:hover{background-color: var(--node); color: #FFF;}
.react{color: var(--react);}
.react:hover{background-color: var(--react); color: #FFF;}
.python{color: var(--python);}
.python:hover{background-color: var(--python); color: #FFF;}
.java{color: var(--java);}
.java:hover{background-color: var(--java); color: #FFF;}

.skills-info{
    padding: 1vmax;
    font-size: 1.5vmax;
    transition: 0.2s;
    background-color: #ededed;
    color: #FFF;
    line-height: 1.6;
    border-radius: 10px;
}

.skill-info {
    display: none;
}


/*********PORTFOLIO**********/
.portfolio-main {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(20vmax, 1fr));
}

.project {
    color: #FFF;
    width: 20vw;
    height: 50vh;
    margin: 10px;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    img {
        border-radius:10px 10px 0 0;
    }
}
.project:hover {
    transform: translate(0, -10px); 
}

.project-info {
    background-color: var(--main-color);
    border-radius: 0 0 10px 10px;
    padding: 1vmax;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project-top-buttons {
    button {
        background-color: inherit;
        color: #FFF;
        margin-right: 5px;
        font-size: 1.6vmax;
        border: none;
        transition: 0.2s;
        svg{
            margin-top: 2px;
        }
    }
    button:hover {
        cursor: pointer;    
    }
}

/*********FOOTER**********/
.footer {
    width: 100%;
    height: 40vh;
    background-color: #2a3b47;
    font-size: 1.2vmax;
}

.footer-content {
    height: 100%;
    color: #657074;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;

    div {
        height: 20vh;
    }
}

.footer-name{
    div {
        padding-top: 10px;
    }
}

.footer-content strong {
    font-size: 2vmax;
    color: #FFF;
}

.footer-navigate-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 10px;
}

.footer-link {
    background-color: inherit;
    border: none;
}

.footer-link:hover {
    cursor: pointer;
    color: var(--main-color);
    transition: .1s;
}

.footer-connect-icons {
    font-size: 2.5vmax;
    padding-top: 10px;
    display: flex;
    justify-content: space-around;

}